/***************/
/***** Bets *****/
/***************/
.bet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    background-color:white;
    padding-top: 9rem
}

.bet__teams {
    margin-bottom: 1rem;
    font-size: 3rem;
    padding: 2rem;
}

.bet__odds {
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    margin-bottom: 1rem;
    
}

/***** Team Odds *****/
.bet__odds__team {
    height: 3rem;
    width: 14rem;
    border: .1rem solid #333;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "info";
    align-items: center;
    padding: .5rem;
}

.bet__odds__team h3 {
    padding: 0;
    margin: 0;
}

.bet__odds__checkbox {
    grid-area: info;
    display: none;
}

.bet__odds__checkboxA:checked ~ .bet__odds__teamA {
    background-color: #004976;
    color: white;
}

.bet__odds__checkboxB:checked ~ .bet__odds__teamB {
    background-color: #004976;
    color: white;
}

.bet__odds__checkbox-draw:checked ~ .bet__odds__draw {
    background-color: #004976;
    color: white;
}

.bet__odds__label {
    grid-area: info;
    justify-self: flex-start;
    width: 100%;
}

.bet__odds__team-odds {
    grid-area: info;
    justify-self: flex-end;
}

/***** Input *****/
.bet__input {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.bet__input--input {
    height: 3rem;
    width: 10rem;
    border: .1rem solid #333;
    align-items: center;
}

.bet__input__bet {
    text-align: center;
}

.bet__input__payout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bet__input__btn  {
    border-radius: 2px;
    border: solid 2px #d8d8d8;
    background-color: #d8d8d8;
    color: #fff;
}

.bet__teams--FNC {
    height: 100px;
    width: 100px;
}


.vs {
    font-size: 3rem;
}