/********************/
/***** Wallet *****/
/********************/
.wallet {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 2rem;
}

.wallet__earnings {
    height: 20rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border: .2rem solid #333;
}

.totals-box__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

/***** Graph *****/
.wallet__graph {
    height: 35rem;
    width: 90vw;
    padding: .5rem;
    border: .2rem solid #333;
}

.totals-box__toggle {
    justify-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    list-style: none;
}

.totals-box__toggle li:not(:last-child) {
    margin-right: 1rem;
}

.totals-box__toggle li a:link,
.totals-box__toggle li a:visited {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
    font-weight: 700;
}

.totals-box__toggle li a:hover,
.totals-box__toggle li a:active {
    border-bottom: .2rem solid #333;
}

.wallet__graph__toggle {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}